<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>

    <!-- navbar -->
    <% include partials/functions/navbar %>

<!-- for to edit member info -->
    <h1><%= title %></h1>
    <form action="/editmember/<%=members.id%>" method="post" enctype="multipart/form-data">
            <input class="form-control" type="text" name="name" value="<%=members.name %>" placeholder="name">
            <input class="form-control" type="text" name="email" value="<%=members.email %>" placeholder="email">
            <input class="form-control" type="text" name="phone" value="<%=members.phone %>" placeholder="phone #">
            <input class="form-control" type="text" name="description" value="<%=members.description %>" placeholder="description">
            <input class = "form-control" type="file" name="image" value="<%=members.image %>">
            <button class="form-control btn btn-primary" type="submit">Update Guest</button>
          </form>


  




  </body>
</html>
