<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>

<!-- for to edit member info -->
    <h1><%= title %></h1>
    <form action="/editmember/<%=members.id%>" method="post" enctype="multipart/form-data">
            <input class="form-control" type="text" name="name" value="<%=members.name %>" placeholder="name">
            <input class="form-control" type="text" name="email" value="<%=members.email %>" placeholder="email">
            <input class="form-control" type="text" name="phone" value="<%=members.phone %>" placeholder="phone #">
            <input class="form-control" type="text" name="description" value="<%=members.description %>" placeholder="description">
            <input class = "form-control" type="file" name="image" value="<%=members.description %>">
            <button class="form-control btn btn-primary" type="submit">Update Guest</button>
          </form>


    <a href="/">Main Page</a>





  </body>
</html>
