<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>


    <!-- navbar -->
    <% include partials/functions/navbar %>

    <div class="container event-container">
        <!-- event info -->
        <div class="row">


        <div class="col-md-6">
          <img src="<%=meetings.image %>" class="img-responsive img-rounded eventimage" alt="">
        </div>
        <div class="col-md-6">
          <h1 class="eventinfo"><%=meetings.name %></h1>
          <h3 class="eventinfo"><%=meetings.description %></h3>
          <h4 class="eventinfo"><%=meetings.date %></h4>
          <h4 class="eventinfo"><%=meetings.location %></h4>
        </div>
        <!-- end event info -->
        </div>
      </div>
      <!-- end container-->

    <!-- map -->
    <div class="map-responsive">
      <iframe width="600" height="450" frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/search?q=801%20Bryan%20Road%2C%20Mission%20Tx&key=AIzaSyDfud5KJNva2y7dr-ouOdcgEVyai2hWwws"
      allowfullscreen></iframe>
    </div>

    <!-- end map -->


<!-- 2nd map geoloaction -->


<!-- end 2nd map -->





  </body>
</html>
