<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>


<!-- all member information sorted with a table -->
        <table class="table table-hover table-inverse">
          <thead>
            <td> Event</td>
            <td> Date</td>
            <td> Location</td>
            <td></td>
          </thead>
          <tbody>
          <% meetings.forEach(function(meeting){%>
            <tr>
              <td><%=meeting.name%></td>
              <td><%=meeting.date%></td>
              <td><%=meeting.location%></td>
              <td><a href="/editevent/<%=meeting.id %>" class="btn btn-warning">Edit</a></td>
              <td>
                <form class="" action="/eventlist/<%=meeting._id %>" method="POST">
                <button type="submit" name="button" class="btn btn-danger">Delete</button>
                </form>
              </td>
            </tr>
            <% });%>

          </tbody>
        </table>
<!-- end of table with member information -->

<a href="/">Main Page</a>



  </body>
</html>
