<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>


<!-- all member information sorted with a table -->
        <table class="table table-hover table-inverse">
          <thead>
            <td> Name</td>
            <td> Email</td>
            <td> Phone Number</td>
            <td></td>
          </thead>
          <tbody>
          <% members.forEach(function(member){%>
            <tr>
              <td>
                <a href="/member/<%=member.id %>"><%=member.name%></a>
              </td>
              <td><%=member.email%></td>
              <td><%=member.phone%></td>
              <td><a href="/editmember/<%=member.id %>" class="btn btn-warning">Edit</a></td>
              <td>
                <form class="" action="/memberlist/<%=member.id %>" method="POST">
                <button type="submit" name="button" class="btn btn-danger">Delete</button>
                </form>
              </td>
            </tr>
            <% });%>
          </tbody>
        </table>
<!-- end of table with member information -->

<a href="/">Main Page</a>





  </body>
</html>
